.DemanstrationButton {
  height: 45px;
  width: 205px;
  border-radius: 10px;
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
  cursor: pointer;
  box-sizing: content-box;
}

.DemanstrationButton:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.247);
}

.DemanstrationButton:active {
  border: 2px solid rgba(0, 0, 0, 0.247);
}

.innerImage {
  margin: 13px 0;
  height: 18px;
  width: 18px;
}
