.toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: static;
  width: 417px;
  background-color: #afafaf;
  box-sizing: border-box;
}
