.Button {
  position: absolute;
  border: 1px solid black;
  background-color: whitesmoke;
  box-sizing: border-box;
  z-index: 1;
}

.BoundingBox {
  position: absolute;
}

.BoundingBox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px dashed #00ffd5;
  pointer-events: none;
  z-index: 1;
}
