.Slide {
  position: relative;
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.ThumblnailSlide {
  user-select: none;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 15px;
}
