.EditingToolBar {
  display: flex;
  width: 790px;
  height: 45px;
  box-sizing: border-box;
  justify-content: space-between;
}

.ToolBar {
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: #d9d9d9;
  box-sizing: border-box;
}
